<a href="https://colab.research.google.com/github/CindyXin97/MIT_COVID-19_Datathon/blob/master/County_level_Texas_California.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# County-level summaries (TX, CA)

This notebook merges different datasets into one summary tables

Main data sources:
+ UCLA jail releases and jail+prison covid informaiton
+ Vera Institute jail data by county
+ NYT covid data by county


Contents:
1. Initial Explorations
  + data cleaning and merging
2. Texas - Summary
  + county-level data (jail and overall county infection rates)
  + only has jail covid information for 10 counties
  + to do: add prison data
3. California - Summary
  + county-level data (jail and overall county infection rates)
  + only has jail covid information for LA county jails
  + to do: add prison data

# Initial Explorations

In [0]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

from google.colab import files

## The Marshall Project Data

From https://github.com/themarshallproject/COVID_prison_data
+ State-by-state prison test, case, and deaths data (inmates and staff)

In [0]:
covid_prison_cases = pd.read_csv('https://raw.githubusercontent.com/themarshallproject/COVID_prison_data/master/data/covid_prison_cases.csv')
prison_populations = pd.read_csv('https://raw.githubusercontent.com/themarshallproject/COVID_prison_data/master/data/prison_populations.csv')
staff_populations = pd.read_csv('https://raw.githubusercontent.com/themarshallproject/COVID_prison_data/master/data/staff_populations.csv')

# drop notes columns & state name column
covid_prison_cases.drop(['notes'], axis = 1, inplace = True)
prison_populations.drop(['name', 'as_of_date'], axis = 1, inplace = True)
staff_populations.drop(['name', 'as_of_date', 'notes'], axis = 1, inplace = True)

In [74]:
covid_prison_cases.head()

         name abbreviation  ...  total_prisoner_deaths  as_of_date
0     Alabama           AL  ...                    1.0  2020-05-06
1      Alaska           AK  ...                    0.0  2020-05-06
2     Arizona           AZ  ...                    5.0  2020-05-06
3    Arkansas           AR  ...                    5.0  2020-05-07
4  California           CA  ...                    1.0  2020-05-06

[5 rows x 9 columns]

In [75]:
# view most recent dates from each state + federal
#   ( max number of cases -> most recent )
idx0 = covid_prison_cases.groupby('name')['as_of_date'].transform(max) == covid_prison_cases['as_of_date']

covid_prison_cases_most_recent = covid_prison_cases[idx0]
covid_prison_cases_most_recent

              name abbreviation  ...  total_prisoner_deaths  as_of_date
0          Alabama           AL  ...                    1.0  2020-05-06
1           Alaska           AK  ...                    0.0  2020-05-06
2          Arizona           AZ  ...                    5.0  2020-05-06
3         Arkansas           AR  ...                    5.0  2020-05-07
4       California           CA  ...                    1.0  2020-05-06
5         Colorado           CO  ...                    1.0  2020-05-07
6      Connecticut           CT  ...                    6.0  2020-05-06
7         Delaware           DE  ...                    3.0  2020-05-07
8          Florida           FL  ...                    7.0  2020-05-06
9          Georgia           GA  ...                   10.0  2020-05-06
10          Hawaii           HI  ...                    0.0  2020-05-06
11           Idaho           ID  ...                    0.0  2020-05-05
12        Illinois           IL  ...                   12.0  2020-05-06
13         Indiana           IN  ...                   13.0  2020-05-06
14            Iowa           IA  ...                    0.0  2020-05-06
15          Kansas           KS  ...                    3.0  2020-05-06
16        Kentucky           KY  ...                    2.0  2020-05-06
17       Louisiana           LA  ...                    4.0  2020-05-06
18           Maine           ME  ...                    0.0  2020-05-06
19        Maryland           MD  ...                    2.0  2020-05-04
20   Massachusetts           MA  ...                    7.0  2020-05-06
21        Michigan           MI  ...                   47.0  2020-05-06
22       Minnesota           MN  ...                    0.0  2020-05-06
23     Mississippi           MS  ...                    1.0  2020-05-05
24        Missouri           MO  ...                    1.0  2020-05-06
25         Montana           MT  ...                    0.0  2020-05-06
26        Nebraska           NE  ...                    0.0  2020-05-06
27          Nevada           NV  ...                    0.0  2020-05-06
28   New Hampshire           NH  ...                    0.0  2020-05-06
29      New Jersey           NJ  ...                   38.0  2020-05-06
30      New Mexico           NM  ...                    0.0  2020-05-06
31        New York           NY  ...                   15.0  2020-05-06
32  North Carolina           NC  ...                    4.0  2020-05-06
33    North Dakota           ND  ...                    0.0  2020-05-01
34            Ohio           OH  ...                   42.0  2020-05-06
35        Oklahoma           OK  ...                    0.0  2020-05-06
36          Oregon           OR  ...                    0.0  2020-05-06
37    Pennsylvania           PA  ...                    3.0  2020-05-06
38    Rhode Island           RI  ...                    0.0  2020-05-06
39  South Carolina           SC  ...                    2.0  2020-05-06
40    South Dakota           SD  ...                    0.0  2020-05-06
41       Tennessee           TN  ...                    1.0  2020-05-05
42           Texas           TX  ...                   23.0  2020-05-06
43            Utah           UT  ...                    0.0  2020-05-06
44         Vermont           VT  ...                    0.0  2020-05-06
45        Virginia           VA  ...                    3.0  2020-05-06
46      Washington           WA  ...                    0.0  2020-05-06
47   West Virginia           WV  ...                    0.0  2020-05-06
48       Wisconsin           WI  ...                    0.0  2020-05-06
49         Wyoming           WY  ...                    0.0  2020-05-08
50         Federal           US  ...                   42.0  2020-05-06

[51 rows x 9 columns]

In [0]:
# merge with one-shot data of inmate and staff populations
merged_tables_most_recent = covid_prison_cases_most_recent.join( 
    prison_populations.set_index('abbreviation'), 
    on='abbreviation', rsuffix='_prisonpop' 
    ).join( 
        staff_populations.set_index('abbreviation'),  
        on='abbreviation', how='outer', rsuffix='_staffpop')

# compute rates of testing, rate of infection, rate of deaths
merged_tables_most_recent['rate_prisoner_tests'] = merged_tables_most_recent['prisoner_tests'] / merged_tables_most_recent['april_pop']
merged_tables_most_recent['rate_prisoner_cases'] = merged_tables_most_recent['total_prisoner_cases'] / merged_tables_most_recent['april_pop']
merged_tables_most_recent['rate_prisoner_deaths'] = merged_tables_most_recent['total_prisoner_deaths'] / merged_tables_most_recent['total_prisoner_cases']

In [8]:
merged_tables_most_recent.sort_values( by = ['prisoner_tests'], ascending = False).head()

             name abbreviation  ...  rate_prisoner_cases  rate_prisoner_deaths
21       Michigan           MI  ...             0.055006              0.022672
34           Ohio           OH  ...             0.088424              0.009740
41      Tennessee           TN  ...             0.092624              0.000510
42          Texas           TX  ...             0.009534              0.017216
20  Massachusetts           MA  ...             0.042946              0.019943

[5 rows x 14 columns]

In [64]:
merged_tables_most_recent[(merged_tables_most_recent['name'] == 'Texas') | (merged_tables_most_recent['name'] == 'Michigan') | (merged_tables_most_recent['name'] == 'New York')]

        name abbreviation  ...  rate_prisoner_cases  rate_prisoner_deaths
21  Michigan           MI  ...             0.055006              0.022672
31  New York           NY  ...             0.009700              0.036145
42     Texas           TX  ...             0.009534              0.017216

[3 rows x 14 columns]

## Covid Prison Data

From https://covidprisondata.com/data.html
+ the facility data csv file

In [10]:
# for upload if run as google colab
uploaded = files.upload()

Saving covidprisondata_facility_historical.csv to covidprisondata_facility_historical.csv

In [0]:
facility_data = pd.read_csv('covidprisondata_facility_historical.csv')

In [12]:
facility_data.columns

Index(['facilities', 'state', 'scrape_date', 'staff_positive', 'staff_deaths',
       'staff_recovered', 'units_in_quarantine', 'inmates_quarantine',
       'housing_type', 'inmates_isolation', 'inmates_positive',
       'inmates_deaths_probable', 'inmates_deaths_confirmed',
       'inmates_pending', 'inmates_recovered', 'inmates_deaths',
       'inmates_negative', 'inmates_medical_restriction',
       'inmates_medical_isolation', 'inmates_tested', 'inmates_retested',
       'daily_total_population', 'inmates_security_quarantine',
       'inmates_medical_quarantine', 'inmates_positive_in_custody',
       'inmates_released_positive', 'inmates_positive_symptomatic',
       'inmates_positive_asymptomatic', 'inmates_positive_current',
       'inmates_step_down', 'inmates_covid_deaths_underlying_conditions',
       'inmates_covid_deaths', 'inmates_medical', 'staff_negative',
       'inmates_positive_on_site', 'inmates_hospital', 'location', 'county',
       'jail_inmates_negative', 'jail_inmates_positive',
       'jail_inmates_pending', 'jail_inmates_total', 'jail_inmates_quarantine',
       'inmates_total', 'parolees_negative', 'parolees_positive',
       'parolees_pending', 'parolees_total', 'parolees_quarantine',
       'juveniles_negative', 'juveniles_positive', 'juveniles_pending',
       'juveniles_total', 'juveniles_quarantine', 'recovered',
       'contract_staff_positive', 'staff_positive_asymptomatic',
       'staff_positive_symptomatic', 'facility_type', 'staff_tested',
       'tier_status', 'inmates_recovered_in_previous_calendar_day',
       'inmates_released'],
      dtype='object')

In [14]:
facility_data[facility_data['state'] == "Texas"].sort_values(by = ['inmates_positive'], ascending = False).head(10)

             facilities  ... inmates_released
152              Murray  ...              NaN
103               Ellis  ...              NaN
82                 Beto  ...              NaN
104             Estelle  ...              NaN
166               Scott  ...              NaN
146             Michael  ...              NaN
89             Clements  ...              NaN
183               Wynne  ...              NaN
147           Middleton  ...              NaN
125  Hospital Galveston  ...              NaN

[10 rows x 63 columns]

In [79]:
facility_data[facility_data['state'] == "Florida"]

                                       facilities  ... inmates_released
282                                  Apalachee CI  ...              NaN
283                                  Avon Park CI  ...              NaN
284                                      Baker CI  ...              NaN
285         Bay CF Operated by The GEO Group Inc.  ...              NaN
286  Blackwater CF Operated by The GEO Group Inc.  ...              NaN
..                                            ...  ...              ...
338                                Zephyrhills CI  ...              NaN
339                Community Corrections Region 1  ...              NaN
340                Community Corrections Region 2  ...              NaN
341                Community Corrections Region 3  ...              NaN
342                Community Corrections Region 4  ...              NaN

[61 rows x 63 columns]

## Prison Releases

From the UCLA spreadsheet
+ covid_prison_releases.csv

In [262]:
# for upload if run as google colab
uploaded = files.upload()

Saving covid_prison_releases.csv to covid_prison_releases.csv

In [0]:
pr = pd.read_csv('covid_prison_releases.csv')

In [264]:
pr.head()

         State  ...                                        Unnamed: 17
0          NaN  ...                                                NaN
1      Alabama  ...                                                NaN
2   California  ...                                                NaN
3     Colorado  ...                                                NaN
4  Federal BOP  ...   (As of 4/6/20:  886 had been moved to home re...

[5 rows x 18 columns]

## Jail data by county

Data sources:
+ UCLA Spreadsheet
  + covid jail releases
  + covid facility data
+ NYTimes County-level data
+ Vera Institute county jail data

### UCLA data

From the UCLA spreadsheet
  + jail_prison_confirmed_cases.csv
    + for Texas: See TCJS data in a latter section
  + covid_jail_releases.csv

In [15]:
# for upload if run as google colab
uploaded = files.upload()

Saving covid_jail_releases.csv to covid_jail_releases.csv
Saving jail_prison_confirmed_cases.csv to jail_prison_confirmed_cases.csv

#### Jail/Prison Confirmed Cases

In [77]:
jail_prison_confirmed_cases = pd.read_csv('jail_prison_confirmed_cases.csv')

# filter jail information only
#jail_prison_confirmed_cases[(jail_prison_confirmed_cases["Facility"] == "Jail")]
jail_prison_confirmed_cases#[(jail_prison_confirmed_cases["Facility"] == "Jail")]

     Facility                 State  ... Coder Unnamed: 13
0         NaN                   NaN  ...   NaN         NaN
1      Prison               Alabama  ...    KP         NaN
2      Prison               Alabama  ...    KP         NaN
3      Prison               Alabama  ...    KP         NaN
4      Prison               Alabama  ...    KP         NaN
...       ...                   ...  ...   ...         ...
1104     Jail            California  ...    GD         NaN
1105     Jail  District of Columbia  ...    GD         NaN
1106     Jail          Pennsylvania  ...    GD         NaN
1107     Jail                 Texas  ...    GD         NaN
1108     Jail             Louisiana  ...    GD         NaN

[1109 rows x 14 columns]

In [17]:
jail_prison_confirmed_cases[(jail_prison_confirmed_cases["Facility"] == "Jail")]

     Facility                 State  ... Coder Unnamed: 13
876      Jail                  Utah  ...    GD         NaN
1102     Jail              New York  ...    GD         NaN
1103     Jail              Illinois  ...    GD         NaN
1104     Jail            California  ...    GD         NaN
1105     Jail  District of Columbia  ...    GD         NaN
1106     Jail          Pennsylvania  ...    GD         NaN
1107     Jail                 Texas  ...    GD         NaN
1108     Jail             Louisiana  ...    GD         NaN

[8 rows x 14 columns]

In [242]:
california_jail_covid = jail_prison_confirmed_cases[(jail_prison_confirmed_cases["Facility"] == "Jail") & (jail_prison_confirmed_cases["State"] == "California")]

california_jail_covid.rename( columns={'Facility':'facility',
                                       'State':'state',
                                       'County / Name of Facility':'county',
                                       'Confirmed Cases \n(Staff)':'staff_confirmed',
                                       'Confirmed Cases (Residents)':'inmates_confirmed',
                                       'Confirmed Deaths\n(Staff)':'staff_deaths',
                                       'Confirmed Deaths\n(Residents)':'inmates_deaths',
                                       'Staff Recovered':'staff_recovered',
                                       'Residents Recovered':'inmates_recovered',
                                       'Date \n(last updated)':'date'}, 
                             inplace= True)

# select most relevant columns
california_jail_covid = california_jail_covid[['facility','state', 'county', 'date', 'staff_confirmed', 'inmates_confirmed', 'staff_deaths', 'inmates_deaths', 'staff_recovered', 'inmates_recovered']]

#rename 'Los Angeles County Jailes' in the county column to just 'Los Angeles'
california_jail_covid.iloc[0, 1] = 'Los Angeles'

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [218]:
california_jail_covid

           state       county  ... staff_recovered inmates_recovered
1104  California  Los Angeles  ...             NaN             117.0

[1 rows x 9 columns]

In [257]:
# another state

XX_jail_prison_covid = jail_prison_confirmed_cases[ (jail_prison_confirmed_cases["State"] == "Ohio")]

XX_jail_prison_covid.rename( columns={'Facility':'facility',
                                       'State':'state',
                                       'County / Name of Facility':'name',
                                       'Confirmed Cases \n(Staff)':'staff_confirmed',
                                       'Confirmed Cases (Residents)':'inmates_confirmed',
                                       'Confirmed Deaths\n(Staff)':'staff_deaths',
                                       'Confirmed Deaths\n(Residents)':'inmates_deaths',
                                       'Staff Recovered':'staff_recovered',
                                       'Residents Recovered':'inmates_recovered',
                                       'Date \n(last updated)':'date'}, 
                             inplace= True)

# select most relevant columns
XX_jail_prison_covid = XX_jail_prison_covid[['facility','state', 'name', 'date', 'staff_confirmed', 'inmates_confirmed', 'staff_deaths', 'inmates_deaths', 'staff_recovered', 'inmates_recovered']]

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [258]:
XX_jail_prison_covid

    facility state  ... staff_recovered inmates_recovered
613   Prison  Ohio  ...             0.0               0.0
614   Prison  Ohio  ...             4.0              27.0
615   Prison  Ohio  ...             0.0               0.0
616   Prison  Ohio  ...             7.0              65.0
617   Prison  Ohio  ...             1.0               1.0
618   Prison  Ohio  ...            57.0              94.0
619   Prison  Ohio  ...             0.0               1.0
620   Prison  Ohio  ...             0.0               0.0
621   Prison  Ohio  ...             2.0               0.0
622   Prison  Ohio  ...             1.0               0.0
623   Prison  Ohio  ...             0.0               0.0
624   Prison  Ohio  ...             3.0               0.0
625   Prison  Ohio  ...             4.0               1.0
626   Prison  Ohio  ...           140.0            1599.0
627   Prison  Ohio  ...             1.0               0.0
628   Prison  Ohio  ...             4.0               9.0
629   Prison  Ohio  ...             1.0               0.0
630   Prison  Ohio  ...             1.0               0.0
631   Prison  Ohio  ...             0.0               0.0
632   Prison  Ohio  ...             1.0               0.0
633   Prison  Ohio  ...            64.0            1231.0
634   Prison  Ohio  ...             0.0               0.0
635   Prison  Ohio  ...             0.0               0.0
636   Prison  Ohio  ...             0.0               1.0
637   Prison  Ohio  ...             0.0               0.0
638   Prison  Ohio  ...             1.0               9.0
639   Prison  Ohio  ...             0.0               0.0
640   Prison  Ohio  ...             1.0               0.0

[28 rows x 10 columns]

#### Jail Releases

In [0]:
# from Jessica's jupyter notebook
jr = pd.read_csv('covid_jail_releases.csv')
jr = jr.iloc[1:,:7] # jail releases

# rename columns for ease of use
jr.rename(columns={'Overall Pop. Reduction / \nTotal Number of Releases':'releases',
                  'Population Prior to Releases':'prior_pop'},
          inplace=True)

# some rows have weird entries (range of values, circa values), remove
jr = jr[jr['releases'].astype(str).apply(lambda x: x.isnumeric())]
jr = jr[jr['prior_pop'].astype(str).apply(lambda x: x.isnumeric())]

# make columns numeric
jr['releases'] = pd.to_numeric(jr['releases'])
jr['prior_pop'] = pd.to_numeric(jr['prior_pop'])

# what fraction of the prior population has been released
jr['frac_reduction'] = jr['releases']/jr['prior_pop']

In [19]:
jr.sort_values('frac_reduction',ascending = False)

              State        County  ... releases frac_reduction
28  District of Col       DC jail  ...     1442       0.779459
76           Oregon        Marion  ...      300       0.722892
41             Iowa          Polk  ...      700       0.700000
77           Oregon     Multnomah  ...      739       0.673655
73           Oregon       Douglas  ...      128       0.659794
..              ...           ...  ...      ...            ...
57           Nevada  Clark County  ...      115       0.039655
60         New York           NYC  ...      106       0.021200
6           Arizona   Pima County  ...       27       0.015341
62         New York           NYC  ...       51       0.011860
61         New York           NYC  ...       28       0.006364

[62 rows x 8 columns]

In [0]:
# filter only texas jails; take most relevant columns
texas_jail_releases = jr[jr['State'] == 'Texas']

# get rid of white spaces in the County column
texas_jail_releases.insert(1, 'county', texas_jail_releases['County'].str.strip() )
texas_jail_releases = texas_jail_releases.drop('County', axis = 1)

In [30]:
texas_jail_releases

    State  county     Facility  ... prior_pop  releases  frac_reduction
87  Texas  Dallas  County-wide  ...      5879      1000        0.170097
88  Texas  Harris  County-wide  ...      9059      1789        0.197483
89  Texas  Travis  County-wide  ...      2164        97        0.044824

[3 rows x 8 columns]

In [0]:
# filter only california jails; take most relevant columns
california_jail_releases = jr[jr['State'] == 'California']

# get rid of white spaces in the County column
california_jail_releases.insert(1, 'county', california_jail_releases['County'].str.strip() )
california_jail_releases = california_jail_releases.drop('County', axis = 1)

In [118]:
california_jail_releases

         State         county     Facility  ... prior_pop  releases  frac_reduction
12  California        Alameda   Santa Rita  ...      2500       247        0.098800
13  California    Los Angeles  County-wide  ...     17076      5193        0.304111
16  California        Alameda          NaN  ...      2500       500        0.200000
17  California  San Francisco  County-wide  ...      1100       260        0.236364
19  California      San Diego   Ocean View  ...        55        34        0.618182
20  California          Marin  County jail  ...       270        58        0.214815
21  California       Monterey  County-wide  ...       885       244        0.275706
23  California      San Mateo  County-wide  ...       969       382        0.394221
25  California         Orange  County-wide  ...      5289       838        0.158442

[9 rows x 8 columns]

### NYTimes County Data

+ https://github.com/nytimes/covid-19-data/blob/master/us-counties.csv

In [0]:
us_counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

#### Texas

In [0]:

# filter texas only
texas_pop_covid = us_counties[(us_counties["state"] == "Texas")]

# get most recent data
idx = texas_pop_covid.groupby(['county'])['date'].transform(max) == texas_pop_covid['date']
texas_pop_covid_mostrecent = texas_pop_covid[idx]

# drop some other  redundant columns
texas_pop_covid_mostrecent = texas_pop_covid_mostrecent.drop(['state', 'fips'], axis=1)

In [35]:
texas_pop_covid_mostrecent.head()

              date     county  cases  deaths
135000  2020-05-11   Anderson     41       0
135001  2020-05-11    Andrews     21       0
135002  2020-05-11   Angelina    100       0
135003  2020-05-11    Aransas      2       0
135004  2020-05-11  Armstrong      2       0

#### California

In [0]:
# filter california only
california_pop_covid = us_counties[(us_counties["state"] == "California")]

# get most recent data
idx_california = california_pop_covid.groupby(['county'])['date'].transform(max) == california_pop_covid['date']
california_pop_covid_mostrecent = california_pop_covid[idx_california]

# drop some other  redundant columns
california_pop_covid_mostrecent = california_pop_covid_mostrecent.drop(['state', 'fips'], axis=1)

In [108]:
california_pop_covid_mostrecent

              date           county  cases  deaths
127056  2020-05-09          Unknown      2       0
132829  2020-05-11          Alameda   2122      75
132830  2020-05-11           Alpine      2       0
132831  2020-05-11           Amador      7       0
132832  2020-05-11            Butte     20       0
132833  2020-05-11        Calaveras     13       0
132834  2020-05-11           Colusa      3       0
132835  2020-05-11     Contra Costa   1048      32
132836  2020-05-11        Del Norte      3       0
132837  2020-05-11        El Dorado     56       0
132838  2020-05-11           Fresno    945       9
132839  2020-05-11            Glenn      6       0
132840  2020-05-11         Humboldt     61       0
132841  2020-05-11         Imperial    564      11
132842  2020-05-11             Inyo     20       1
132843  2020-05-11             Kern   1300      16
132844  2020-05-11            Kings    319       1
132845  2020-05-11             Lake      8       0
132846  2020-05-11      Los Angeles  32258    1569
132847  2020-05-11           Madera     67       2
132848  2020-05-11            Marin    267      14
132849  2020-05-11         Mariposa     15       0
132850  2020-05-11        Mendocino     12       0
132851  2020-05-11           Merced    173       3
132852  2020-05-11             Mono     32       1
132853  2020-05-11         Monterey    282       6
132854  2020-05-11             Napa     80       3
132855  2020-05-11           Nevada     41       1
132856  2020-05-11           Orange   3627      76
132857  2020-05-11           Placer    170       8
132858  2020-05-11           Plumas      4       0
132859  2020-05-11        Riverside   5189     217
132860  2020-05-11       Sacramento   1172      52
132861  2020-05-11       San Benito     56       2
132862  2020-05-11   San Bernardino   3015     121
132863  2020-05-11        San Diego   5128     194
132864  2020-05-11    San Francisco   1957      35
132865  2020-05-11      San Joaquin    621      29
132866  2020-05-11  San Luis Obispo    226       1
132867  2020-05-11        San Mateo   1464      65
132868  2020-05-11    Santa Barbara   1362      11
132869  2020-05-11      Santa Clara   2341     131
132870  2020-05-11       Santa Cruz    141       2
132871  2020-05-11           Shasta     32       4
132872  2020-05-11         Siskiyou      5       0
132873  2020-05-11           Solano    384      10
132874  2020-05-11           Sonoma    312       4
132875  2020-05-11       Stanislaus    501      21
132876  2020-05-11           Sutter     34       2
132877  2020-05-11           Tehama      1       1
132878  2020-05-11          Trinity      1       0
132879  2020-05-11           Tulare   1159      50
132880  2020-05-11         Tuolumne      2       0
132881  2020-05-11          Ventura    690      19
132882  2020-05-11             Yolo    174      20
132883  2020-05-11             Yuba     21       1

#### Ohio

In [0]:
# filter ohio only
ohio_pop_covid = us_counties[(us_counties["state"] == "Ohio")]

# get most recent data
idx_ohio = ohio_pop_covid.groupby(['county'])['date'].transform(max) == ohio_pop_covid['date']
ohio_pop_covid_mostrecent = ohio_pop_covid[idx_ohio]

# drop some other  redundant columns
ohio_pop_covid_mostrecent = ohio_pop_covid_mostrecent.drop(['state', 'fips'], axis=1)

In [268]:
ohio_pop_covid_mostrecent

              date      county  cases  deaths
13508   2020-03-26     Unknown      1       0
134545  2020-05-11       Adams      6       0
134546  2020-05-11       Allen    146      29
134547  2020-05-11     Ashland     15       0
134548  2020-05-11   Ashtabula    193      19
...            ...         ...    ...     ...
134628  2020-05-11  Washington    114      17
134629  2020-05-11       Wayne    188      42
134630  2020-05-11    Williams     44       1
134631  2020-05-11        Wood    225      31
134632  2020-05-11     Wyandot     27       2

[89 rows x 4 columns]

#### Oregon

In [0]:
# filter oregon only
oregon_pop_covid = us_counties[(us_counties["state"] == "Oregon")]

# get most recent data
idx_oregon = oregon_pop_covid.groupby(['county'])['date'].transform(max) == oregon_pop_covid['date']
oregon_pop_covid_mostrecent = oregon_pop_covid[idx_oregon]

# drop some other  redundant columns
oregon_pop_covid_mostrecent = oregon_pop_covid_mostrecent.drop(['state', 'fips'], axis=1)

In [279]:
oregon_pop_covid_mostrecent

              date      county  cases  deaths
134704  2020-05-11       Baker      1       0
134705  2020-05-11      Benton     49       5
134706  2020-05-11   Clackamas    268       9
134707  2020-05-11     Clatsop     33       0
134708  2020-05-11    Columbia     15       0
134709  2020-05-11        Coos     30       0
134710  2020-05-11       Crook      1       0
134711  2020-05-11       Curry      4       0
134712  2020-05-11   Deschutes     86       0
134713  2020-05-11     Douglas     24       0
134714  2020-05-11       Grant      1       0
134715  2020-05-11      Harney      1       0
134716  2020-05-11  Hood River     13       0
134717  2020-05-11     Jackson     49       0
134718  2020-05-11   Jefferson     24       0
134719  2020-05-11   Josephine     24       1
134720  2020-05-11     Klamath     40       0
134721  2020-05-11        Lane     60       2
134722  2020-05-11     Lincoln      6       0
134723  2020-05-11        Linn    103       8
134724  2020-05-11     Malheur     14       0
134725  2020-05-11      Marion    694      23
134726  2020-05-11      Morrow     12       0
134727  2020-05-11   Multnomah    899      53
134728  2020-05-11        Polk     87       6
134729  2020-05-11     Sherman      1       0
134730  2020-05-11   Tillamook      6       0
134731  2020-05-11    Umatilla     85       2
134732  2020-05-11       Union      4       0
134733  2020-05-11     Wallowa      1       0
134734  2020-05-11       Wasco     15       1
134735  2020-05-11  Washington    587      13
134736  2020-05-11     Yamhill     49       7

### Vera Institute 

Jail data by county
+ https://github.com/vera-institute/jail-population-data/blob/master/jail_population.csv

In [0]:
jail_population = pd.read_csv('https://raw.githubusercontent.com/vera-institute/jail-population-data/master/jail_population.csv')

#rename column"state_name" to "state" to match NYTimes data
jail_population.rename(columns={'state_name':'state'}, inplace = True)

#### Texas

In [0]:
# filter texas only
texas_jails = jail_population[jail_population["state"] == "Texas"]

# get most recent data
idx2 = texas_jails.groupby(['county_name'])['date'].transform(max) == texas_jails['date']
texas_jails_mostrecent = texas_jails[idx2]

# rename each entry in "Abc County" as "Abc" (remove the word County at the end, to match NYTimes data)
#     keep name in new column called county
texas_jails_mostrecent.insert(4, 'county', texas_jails_mostrecent['county_name'].str.split(' ').str[0])
#     drop the old county_name column
texas_jails_mostrecent = texas_jails_mostrecent.drop('county_name', axis = 1)

In [42]:
texas_jails_mostrecent.head()

        fips        date  ...  resident_population jail_incarceration_rate_per_100k
65622  48001  2020-05-01  ...              57735.0                            239.0
65627  48003  2020-05-01  ...              18705.0                            149.7
65652  48005  2020-05-01  ...              86715.0                            184.5
65657  48007  2020-05-01  ...              23510.0                            595.5
65761  48009  2020-05-01  ...               8553.0                            233.8

[5 rows x 9 columns]

#### California

In [0]:
# filter california only
california_jails = jail_population[jail_population["state"] == "California"]

# get most recent data
idx2_california = california_jails.groupby(['county_name'])['date'].transform(max) == california_jails['date']
california_jails_mostrecent = california_jails[idx2_california]

# rename each entry in "Abc County" as "Abc" (remove the word County at the end, to match NYTimes data)
#     keep name in new column called county
california_jails_mostrecent.insert(4, 'county', california_jails_mostrecent['county_name'].str.rsplit(' ', n = 1).str[0])
#     drop the old county_name column
california_jails_mostrecent = california_jails_mostrecent.drop('county_name', axis = 1)

In [174]:
california_jails_mostrecent.head()

      fips        date  ...  resident_population jail_incarceration_rate_per_100k
6358  6001  2020-04-30  ...            1671329.0                            105.1
6403  6005  2020-05-01  ...              39752.0                            130.8
6514  6017  2020-05-11  ...             192843.0                            159.2
6551  6019  2020-05-11  ...             999101.0                            225.2
6668  6031  2020-05-11  ...             152940.0                            285.1

[5 rows x 9 columns]

#### Ohio

In [0]:
# filter ohio only
ohio_jails = jail_population[jail_population["state"] == "Ohio"]

# get most recent data
idx2_ohio = ohio_jails.groupby(['county_name'])['date'].transform(max) == ohio_jails['date']
ohio_jails_mostrecent = ohio_jails[idx2_ohio]

# rename each entry in "Abc County" as "Abc" (remove the word County at the end, to match NYTimes data)
#     keep name in new column called county
ohio_jails_mostrecent.insert(4, 'county', ohio_jails_mostrecent['county_name'].str.rsplit(' ', n = 1).str[0])
#     drop the old county_name column
ohio_jails_mostrecent = ohio_jails_mostrecent.drop('county_name', axis = 1)

In [271]:
ohio_jails_mostrecent.head()

        fips        date  ...  resident_population jail_incarceration_rate_per_100k
56931  39001  2020-05-12  ...              27698.0                             72.2
56976  39009  2020-05-12  ...              65327.0                            192.9
57002  39013  2020-05-01  ...              67006.0                            158.2
57103  39025  2020-05-01  ...             206428.0                            123.5
57217  39027  2020-05-01  ...              41968.0                            119.1

[5 rows x 9 columns]

#### Oregon

In [0]:
# filter oregon only
oregon_jails = jail_population[jail_population["state"] == "Oregon"]

# get most recent data
idx2_oregon = oregon_jails.groupby(['county_name'])['date'].transform(max) == oregon_jails['date']
oregon_jails_mostrecent = oregon_jails[idx2_oregon]

# rename each entry in "Abc County" as "Abc" (remove the word County at the end, to match NYTimes data)
#     keep name in new column called county
oregon_jails_mostrecent.insert(4, 'county', oregon_jails_mostrecent['county_name'].str.rsplit(' ', n = 1).str[0])
#     drop the old county_name column
oregon_jails_mostrecent = oregon_jails_mostrecent.drop('county_name', axis = 1)

In [281]:
oregon_jails_mostrecent.head()

        fips        date  ...  resident_population jail_incarceration_rate_per_100k
59885  41001  2020-05-01  ...              16124.0                             86.8
59933  41003  2020-02-17  ...              93053.0                             57.0
60020  41005  2020-05-01  ...             418187.0                             32.8
60139  41007  2020-05-01  ...              40224.0                             79.6
60231  41009  2020-05-01  ...              52354.0                            175.7

[5 rows x 9 columns]

#### Other Vera Institute datasets

[This NYTimes article](https://www.nytimes.com/2020/03/31/upshot/coronavirus-jails-prisons.html) mentioned this as their datasource, but I can't find their weekly admit/release data here

https://github.com/vera-institute/incarceration_trends/blob/master/incarceration_trends.csv

(Haven't done much with these yet)

In [0]:
vera2 = pd.read_csv('https://raw.githubusercontent.com/vera-institute/incarceration_trends/master/incarceration_trends.csv')

In [96]:
vera2[(vera2['state']=='TX') & (vera2['year'] >= 2000 )].head()

            yfips  year  ...  native_prison_adm_rate white_prison_adm_rate
120990  200048001  2000  ...                     NaN                   NaN
120991  200148001  2001  ...                     NaN                   NaN
120992  200248001  2002  ...                     NaN                   NaN
120993  200348001  2003  ...                     NaN                   NaN
120994  200448001  2004  ...                     NaN                   NaN

[5 rows x 121 columns]

https://github.com/vera-institute/incarceration_trends/blob/master/incarceration_trends_jail_jurisdiction.csv

In [0]:
vera3 = pd.read_csv('https://raw.githubusercontent.com/vera-institute/incarceration_trends/master/incarceration_trends_jail_jurisdiction.csv')

In [98]:
vera3.head()

   Unnamed: 0          yjid      jid  ...  total_jail_dis  year   jurisdiction_name
0           0  197001001001  1001001  ...             NaN  1970  AUTAUGA METRO JAIL
1           1  197101001001  1001001  ...             NaN  1971  AUTAUGA METRO JAIL
2           2  197201001001  1001001  ...             NaN  1972  AUTAUGA METRO JAIL
3           3  197301001001  1001001  ...             NaN  1973  AUTAUGA METRO JAIL
4           4  197401001001  1001001  ...             NaN  1974  AUTAUGA METRO JAIL

[5 rows x 31 columns]

### Texas jail covid data (from Texas Commision for Jail Standards)
Texas
county-level jail covid data: https://www.tcjs.state.tx.us/wp-content/uploads/2020/05/TCJS_COVID_Report.pdf
  + texas_jail_covid.csv

In [51]:
# for upload if run as google colab
uploaded = files.upload()

Saving texas_jail_covid.csv to texas_jail_covid.csv

In [0]:
texas_jail_covid = pd.read_csv('texas_jail_covid.csv')

In [0]:
texas_jail_covid.insert(0, 'facility', 'Jail')

In [246]:
texas_jail_covid.head()

  facility  ... staff_quarantined_pending_test_results
0     Jail  ...                                    581
1     Jail  ...                                     13
2     Jail  ...                                      1
3     Jail  ...                                      0
4     Jail  ...                                     56

[5 rows x 11 columns]

### Merges

#### Vera Institute + NYTimes Data

In [0]:
# texas
# merge
texas_county_data0 = texas_jails_mostrecent.join(texas_pop_covid_mostrecent.set_index('county'), on='county', rsuffix='_countypop_covid')

# compute infection and death rates in the county
texas_county_data0['infection_rate_countypop'] = texas_county_data0['cases'] / texas_county_data0['resident_population']
texas_county_data0['death_rate_countypop'] = texas_county_data0['deaths'] / texas_county_data0['resident_population']

# california
# merge
california_county_data0 = california_jails_mostrecent.join(california_pop_covid_mostrecent.set_index('county'), on='county', rsuffix='_countypop_covid')

# compute infection and death rates in the county
california_county_data0['infection_rate_countypop'] = california_county_data0['cases'] / california_county_data0['resident_population']
california_county_data0['death_rate_countypop'] = california_county_data0['deaths'] / california_county_data0['resident_population']


# ohio
# merge
ohio_county_data0 = ohio_jails_mostrecent.join(ohio_pop_covid_mostrecent.set_index('county'), on='county', rsuffix='_countypop_covid')

# compute infection and death rates in the county
ohio_county_data0['infection_rate_countypop'] = ohio_county_data0['cases'] / ohio_county_data0['resident_population']
ohio_county_data0['death_rate_countypop'] = ohio_county_data0['deaths'] / ohio_county_data0['resident_population']


# oregon
# merge
oregon_county_data0 = oregon_jails_mostrecent.join(oregon_pop_covid_mostrecent.set_index('county'), on='county', rsuffix='_countypop_covid')

# compute infection and death rates in the county
oregon_county_data0['infection_rate_countypop'] = oregon_county_data0['cases'] / oregon_county_data0['resident_population']
oregon_county_data0['death_rate_countypop'] = oregon_county_data0['deaths'] / oregon_county_data0['resident_population']

In [285]:
texas_county_data0.head()

        fips        date  ...  infection_rate_countypop death_rate_countypop
65622  48001  2020-05-01  ...                  0.000710                  0.0
65627  48003  2020-05-01  ...                  0.001123                  0.0
65652  48005  2020-05-01  ...                  0.001153                  0.0
65657  48007  2020-05-01  ...                  0.000085                  0.0
65761  48009  2020-05-01  ...                       NaN                  NaN

[5 rows x 14 columns]

In [196]:
california_county_data0.head()

      fips        date  ...  infection_rate_countypop death_rate_countypop
6358  6001  2020-04-30  ...                  0.001270             0.000045
6403  6005  2020-05-01  ...                  0.000176             0.000000
6514  6017  2020-05-11  ...                  0.000290             0.000000
6551  6019  2020-05-11  ...                  0.000946             0.000009
6668  6031  2020-05-11  ...                  0.002086             0.000007

[5 rows x 14 columns]

In [273]:
ohio_county_data0.head()

        fips        date  ...  infection_rate_countypop death_rate_countypop
56931  39001  2020-05-12  ...                  0.000217             0.000000
56976  39009  2020-05-12  ...                  0.000092             0.000015
57002  39013  2020-05-01  ...                  0.003850             0.000104
57103  39025  2020-05-01  ...                  0.000606             0.000015
57217  39027  2020-05-01  ...                  0.000834             0.000000

[5 rows x 14 columns]

In [295]:
oregon_county_data0.head()

        fips        date  ...  infection_rate_countypop death_rate_countypop
59885  41001  2020-05-01  ...                  0.000062             0.000000
59933  41003  2020-02-17  ...                  0.000527             0.000054
60020  41005  2020-05-01  ...                  0.000641             0.000022
60139  41007  2020-05-01  ...                  0.000820             0.000000
60231  41009  2020-05-01  ...                  0.000287             0.000000

[5 rows x 14 columns]

#### Texas: (Vera Institute + NYTimes ) + TCJS  (outer join)

In [0]:
#merge
texas_county_data1 = texas_county_data0.join( texas_jail_covid.set_index('county'), on='county', rsuffix='_tcjs', how='outer')

# compute infection rates among inmates
texas_county_data1['infection_rate_inmates'] = texas_county_data1['inmates_active_positive_test_confirmation'] / texas_county_data1['jail_population']

In [234]:
texas_county_data1.sort_values(by=['infection_rate_inmates'], ascending=False).head()

        fips  ... infection_rate_inmates
67510  48201  ...               0.089295
67525  48207  ...               0.080092
65937  48029  ...               0.062257
66749  48113  ...               0.048250
70323  48479  ...               0.043478

[5 rows x 24 columns]

In [235]:
texas_county_data1[['fips', 
                    'date', 
                    'jail_population', 
                    'county', 
                    'resident_population', 
                    'infection_rate_countypop', 
                    'infection_rate_inmates']].sort_values(by=['infection_rate_inmates'], ascending=False)

        fips        date  ...  infection_rate_countypop infection_rate_inmates
67510  48201  2020-05-12  ...                  0.001735               0.089295
67525  48207  2020-05-01  ...                       NaN               0.080092
65937  48029  2020-05-01  ...                  0.000958               0.062257
66749  48113  2020-05-01  ...                  0.002323               0.048250
70323  48479  2020-05-01  ...                  0.001580               0.043478
...      ...         ...  ...                       ...                    ...
70601  48499  2020-05-01  ...                  0.000307                    NaN
70606  48501  2020-05-01  ...                  0.000230                    NaN
70719  48503  2020-05-11  ...                  0.000222                    NaN
70724  48505  2020-05-01  ...                  0.000494                    NaN
70729  48507  2020-05-01  ...                  0.000169                    NaN

[254 rows x 7 columns]

#### Texas: (Vera Institute + NYTimes + TCJS) + Releases Info  (outer join)

In [0]:
texas_county_data2 = texas_county_data1.join(texas_jail_releases.set_index('county'), on='county', how='outer').reset_index()

In [237]:
texas_county_data2

     index   fips        date  ...  prior_pop releases frac_reduction
0    65622  48001  2020-05-01  ...        NaN      NaN            NaN
1    65627  48003  2020-05-01  ...        NaN      NaN            NaN
2    65652  48005  2020-05-01  ...        NaN      NaN            NaN
3    65657  48007  2020-05-01  ...        NaN      NaN            NaN
4    65761  48009  2020-05-01  ...        NaN      NaN            NaN
..     ...    ...         ...  ...        ...      ...            ...
249  70601  48499  2020-05-01  ...        NaN      NaN            NaN
250  70606  48501  2020-05-01  ...        NaN      NaN            NaN
251  70719  48503  2020-05-11  ...        NaN      NaN            NaN
252  70724  48505  2020-05-01  ...        NaN      NaN            NaN
253  70729  48507  2020-05-01  ...        NaN      NaN            NaN

[254 rows x 32 columns]

#### California: (Vera + NYTimes) + County Jail Covid Cases + Jail Releases data

In [0]:
# Vera + NYT + County Jail covid cases
#   we only have one county jail covid cases, LA county
california_county_data1 = california_county_data0.join( california_jail_covid.set_index('county'), on='county', rsuffix='_cases', how='outer').reset_index()


# compute infection rates among inmates
california_county_data1['infection_rate_inmates'] = california_county_data1['inmates_confirmed'] / california_county_data1['jail_population']

In [220]:
california_county_data1.head()

   index  fips  ... inmates_recovered  infection_rate_inmates
0   6358  6001  ...               NaN                     NaN
1   6403  6005  ...               NaN                     NaN
2   6514  6017  ...               NaN                     NaN
3   6551  6019  ...               NaN                     NaN
4   6668  6031  ...               NaN                     NaN

[5 rows x 24 columns]

In [0]:
# Vera + NYT + County Jail covid cases + Jail releases
# vera doesn't have jail info in San Diego and San Mateo
#    but UCLA spreadsheet has releases info on San Diego and San Mateo
california_county_data2 = california_county_data1.join( california_jail_releases.set_index('county'), on='county', rsuffix='_releases', how='outer').reset_index()

In [223]:
california_county_data2

    level_0   index    fips  ... prior_pop  releases frac_reduction
0       0.0  6358.0  6001.0  ...    2500.0     247.0       0.098800
1       0.0  6358.0  6001.0  ...    2500.0     500.0       0.200000
2       1.0  6403.0  6005.0  ...       NaN       NaN            NaN
3       2.0  6514.0  6017.0  ...       NaN       NaN            NaN
4       3.0  6551.0  6019.0  ...       NaN       NaN            NaN
5       4.0  6668.0  6031.0  ...       NaN       NaN            NaN
6       5.0  6685.0  6033.0  ...       NaN       NaN            NaN
7       6.0  6719.0  6037.0  ...   17076.0    5193.0       0.304111
8       7.0  6765.0  6039.0  ...       NaN       NaN            NaN
9       8.0  6804.0  6041.0  ...     270.0      58.0       0.214815
10      9.0  6919.0  6047.0  ...       NaN       NaN            NaN
11     10.0  6956.0  6053.0  ...     885.0     244.0       0.275706
12     11.0  7005.0  6055.0  ...       NaN       NaN            NaN
13     12.0  7044.0  6057.0  ...       NaN       NaN            NaN
14     13.0  7070.0  6059.0  ...    5289.0     838.0       0.158442
15     14.0  7107.0  6061.0  ...       NaN       NaN            NaN
16     15.0  7142.0  6065.0  ...       NaN       NaN            NaN
17     16.0  7162.0  6075.0  ...    1100.0     260.0       0.236364
18     17.0  7206.0  6083.0  ...       NaN       NaN            NaN
19     18.0  7247.0  6085.0  ...       NaN       NaN            NaN
20     19.0  7266.0  6087.0  ...       NaN       NaN            NaN
21     20.0  7339.0  6089.0  ...       NaN       NaN            NaN
22     21.0  7411.0  6093.0  ...       NaN       NaN            NaN
23     22.0  7485.0  6099.0  ...       NaN       NaN            NaN
24     23.0  7524.0  6103.0  ...       NaN       NaN            NaN
25     24.0  7610.0  6107.0  ...       NaN       NaN            NaN
26     25.0  7708.0  6115.0  ...       NaN       NaN            NaN
27      NaN     NaN     NaN  ...      55.0      34.0       0.618182
28      NaN     NaN     NaN  ...     969.0     382.0       0.394221

[29 rows x 32 columns]

#### (Vera Institute + NYTimes) + Releases Info  (inner join)

In [0]:
texas_county_data2b = texas_county_data0.join(texas_jail_releases.set_index('county'), on='county', how='right').reset_index()

In [84]:
texas_county_data2b

   index   fips        date  ...  prior_pop releases frac_reduction
0  66749  48113  2020-05-01  ...       5879     1000       0.170097
1  67510  48201  2020-05-12  ...       9059     1789       0.197483
2  70074  48453  2020-05-01  ...       2164       97       0.044824

[3 rows x 22 columns]

## Other references

+ US-wide data
  + https://www.bjs.gov/content/pub/pdf/ji16.pdf
+ State-level
  + Texas 
    + county-level jail data: https://www.tcjs.state.tx.us/wp-content/uploads/2020/05/TCJS_COVID_Report.pdf
    + state-level jail data: https://www.prisonpolicy.org/profiles/TX.html
    + "Today, the Texas Department of Criminal Justice (TDCJ) oversees 17 state jails, 14 directly and three through private contractors, in 16 counties throughout the state (Exhibit 2)."  (https://comptroller.texas.gov/economy/fiscal-notes/2019/aug/jails.php)
    + http://www.prisonpro.com/content/texas-prisons-jails
    + https://www.tdcj.texas.gov/covid-19/index.html
      + Texas Department of Criminal Justice
      + Starting this week (May 12): "Testing is one key to stopping the spread of COVID-19. Thanks to Texas Governor Greg Abbott and with the help of the Texas Department of Emergency Management, the Texas Department of Criminal Justice (TDCJ) this week is beginning a new expanded testing program."
      + I think this is mainly state prison data: In the first few hours of testing nearly 1500 tests were administered and collected. Like has occurred in virtually every area where large scale asymptomatic testing has taken place TDCJ fully expects the number of positive offender cases to expand dramatically. The agency has a plan in place to medically restrict these new asymptomatic cases as needed.  In total there are 652 TDCJ employees, staff or contractors who have tested positive for COVID-19 and 1733 offenders who have tested positive. There have been 30 confirmed offender deaths and 23 pending autopsy results. 7 staff members have died from COVID-19. There are now 91 employees and 371 offenders who have medically recovered from COVID-19.  19,214 offenders are on medical restriction because they may have had contact with either an employee or offender with a positive or pending COVID-19 test.
  + Michigan:
    + Release info:
      + Ogemaw County: https://www.ogemawherald.com/stories/jail-releases-certain-inmates-due-to-covid-19-pandemic,109566
      + Governor's Executive order (April 26): https://www.michigan.gov/whitmer/0,9309,7-387-90499_90705-523422--,00.html
      + Metro Detroit County Jails: https://www.clickondetroit.com/news/local/2020/04/02/hundreds-of-inmates-released-from-metro-detroit-county-jails-amid-coronavirus-covid-19-outbreak/
      + Washtenaw county jail: https://www.michiganradio.org/post/aggressive-covid-19-plan-washtenaw-county-jail-reduces-population-more-half
      + Calhoun County: https://myemail.constantcontact.com/Press-release--First-Inmate-Identified-With-COVID-19.html?soid=1131086442739&aid=DXtI3PWzW68

# Texas - Summary

+ From merged datasets
+ Not a time series -- uses most recent dates in each dataset

In [241]:
# displaying top 15 counties by infection rate among inmates, out of >200 counties
#   only 10 counties has inmate infection rate data
#   only 3 counties has jail releases data
texas_county_data2[['fips', 
                    'county', 
                    'date', 
                    'jail_population', 
                    'jail_incarceration_rate_per_100k',
                    'resident_population', 
                    'infection_rate_countypop', 
                    'infection_rate_inmates',
                    'prior_pop',
                    'releases',
                    'frac_reduction',
                    'date_countypop_covid',
                    'date_tcjs']].sort_values(by=['infection_rate_inmates'], ascending=False).head(15)

      fips      county  ... date_countypop_covid   date_tcjs
100  48201      Harris  ...           2020-05-11  2020-05-12
103  48207     Haskell  ...                  NaN  2020-05-12
14   48029       Bexar  ...           2020-05-11  2020-05-12
56   48113      Dallas  ...           2020-05-11  2020-05-12
239  48479        Webb  ...           2020-05-11  2020-05-12
219  48439     Tarrant  ...           2020-05-11  2020-05-12
211  48423       Smith  ...           2020-05-11  2020-05-12
91   48183       Gregg  ...           2020-05-11  2020-05-12
169  48339  Montgomery  ...           2020-05-11  2020-05-12
73   48147      Fannin  ...           2020-05-11  2020-05-12
0    48001    Anderson  ...           2020-05-11         NaN
1    48003     Andrews  ...           2020-05-11         NaN
2    48005    Angelina  ...           2020-05-11         NaN
3    48007     Aransas  ...           2020-05-11         NaN
4    48009      Archer  ...                  NaN         NaN

[15 rows x 13 columns]

# California - Summary


+ From merged datasets
+ Not a time series -- uses most recent dates in each dataset

In [225]:
california_county_data2[['fips', 
                    'county', 
                    'date', 
                    'jail_population', 
                    'jail_incarceration_rate_per_100k',
                    'resident_population', 
                    'infection_rate_countypop', 
                    'infection_rate_inmates',
                    'prior_pop',
                    'releases',
                    'frac_reduction',
                    'date_countypop_covid',
                    'date_cases']]

      fips         county  ... date_countypop_covid  date_cases
0   6001.0        Alameda  ...           2020-05-11         NaN
1   6001.0        Alameda  ...           2020-05-11         NaN
2   6005.0         Amador  ...           2020-05-11         NaN
3   6017.0      El Dorado  ...           2020-05-11         NaN
4   6019.0         Fresno  ...           2020-05-11         NaN
5   6031.0          Kings  ...           2020-05-11         NaN
6   6033.0           Lake  ...           2020-05-11         NaN
7   6037.0    Los Angeles  ...           2020-05-11     5/11/20
8   6039.0         Madera  ...           2020-05-11         NaN
9   6041.0          Marin  ...           2020-05-11         NaN
10  6047.0         Merced  ...           2020-05-11         NaN
11  6053.0       Monterey  ...           2020-05-11         NaN
12  6055.0           Napa  ...           2020-05-11         NaN
13  6057.0         Nevada  ...           2020-05-11         NaN
14  6059.0         Orange  ...           2020-05-11         NaN
15  6061.0         Placer  ...           2020-05-11         NaN
16  6065.0      Riverside  ...           2020-05-11         NaN
17  6075.0  San Francisco  ...           2020-05-11         NaN
18  6083.0  Santa Barbara  ...           2020-05-11         NaN
19  6085.0    Santa Clara  ...           2020-05-11         NaN
20  6087.0     Santa Cruz  ...           2020-05-11         NaN
21  6089.0         Shasta  ...           2020-05-11         NaN
22  6093.0       Siskiyou  ...           2020-05-11         NaN
23  6099.0     Stanislaus  ...           2020-05-11         NaN
24  6103.0         Tehama  ...           2020-05-11         NaN
25  6107.0         Tulare  ...           2020-05-11         NaN
26  6115.0           Yuba  ...           2020-05-11         NaN
27     NaN      San Diego  ...                  NaN         NaN
28     NaN      San Mateo  ...                  NaN         NaN

[29 rows x 13 columns]

# Ohio - Summary

In [297]:
ohio_county_data0[['fips', 
                    'county', 
                    'date', 
                    'jail_population', 
                    'jail_incarceration_rate_per_100k',
                    'resident_population', 
                    'infection_rate_countypop',
                    'date_countypop_covid']]

        fips      county  ... infection_rate_countypop  date_countypop_covid
56931  39001       Adams  ...                 0.000217            2020-05-11
56976  39009      Athens  ...                 0.000092            2020-05-11
57002  39013     Belmont  ...                 0.003850            2020-05-11
57103  39025    Clermont  ...                 0.000606            2020-05-11
57217  39027     Clinton  ...                 0.000834            2020-05-11
57265  39031   Coshocton  ...                 0.000519            2020-05-11
57384  39041    Delaware  ...                 0.001061            2020-05-11
57503  39043        Erie  ...                 0.001118            2020-05-11
57622  39049    Franklin  ...                 0.002947            2020-05-11
57728  39053      Gallia  ...                 0.000201            2020-05-11
57847  39059    Guernsey  ...                 0.000540            2020-05-11
57932  39061    Hamilton  ...                 0.002230            2020-05-11
57958  39077       Huron  ...                 0.000652            2020-05-11
58077  39083        Knox  ...                 0.000321            2020-05-11
58094  39089     Licking  ...                 0.000927            2020-05-11
58100  39107      Mercer  ...                 0.002040            2020-05-11
58199  39117      Morrow  ...                 0.002463            2020-05-11
58202  39121       Noble  ...                 0.000416            2020-05-11
58243  39123      Ottawa  ...                 0.001160            2020-05-11
58360  39129    Pickaway  ...                 0.033067            2020-05-11
58386  39143    Sandusky  ...                 0.000889            2020-05-11
58391  39153      Summit  ...                 0.001691            2020-05-11
58420  39157  Tuscarawas  ...                 0.002348            2020-05-11
58423  39167  Washington  ...                 0.001903            2020-05-11
58435  39171    Williams  ...                 0.001199            2020-05-11
58519  39173        Wood  ...                 0.001720            2020-05-11

[26 rows x 8 columns]

# Oregon - Summary

In [299]:
oregon_county_data0[['fips', 
                    'county', 
                    'date', 
                    'jail_population', 
                    'jail_incarceration_rate_per_100k',
                    'resident_population', 
                    'infection_rate_countypop',
                    'date_countypop_covid']]

        fips      county  ... infection_rate_countypop  date_countypop_covid
59885  41001       Baker  ...                 0.000062            2020-05-11
59933  41003      Benton  ...                 0.000527            2020-05-11
60020  41005   Clackamas  ...                 0.000641            2020-05-11
60139  41007     Clatsop  ...                 0.000820            2020-05-11
60231  41009    Columbia  ...                 0.000287            2020-05-11
60239  41011        Coos  ...                 0.000465            2020-05-11
60353  41013       Crook  ...                 0.000041            2020-05-11
60390  41015       Curry  ...                 0.000174            2020-05-11
60508  41017   Deschutes  ...                 0.000435            2020-05-11
60634  41019     Douglas  ...                 0.000216            2020-05-11
60742  41025      Harney  ...                 0.000135            2020-05-11
60792  41029     Jackson  ...                 0.000222            2020-05-11
60914  41031   Jefferson  ...                 0.000973            2020-05-11
61040  41033   Josephine  ...                 0.000274            2020-05-11
61118  41035     Klamath  ...                 0.000586            2020-05-11
61234  41041     Lincoln  ...                 0.000120            2020-05-11
61351  41043        Linn  ...                 0.000794            2020-05-11
61452  41047      Marion  ...                 0.001995            2020-05-11
61499  41051   Multnomah  ...                 0.001106            2020-05-11
61599  41057   Tillamook  ...                 0.000222            2020-05-11
61620  41059    Umatilla  ...                 0.001090            2020-05-11
61638  41061       Union  ...                 0.000149            2020-05-11
61756  41065       Wasco  ...                 0.000562            2020-05-11
61817  41067  Washington  ...                 0.000976            2020-05-11
61931  41071     Yamhill  ...                 0.000458            2020-05-11

[25 rows x 8 columns]